# Python
__pycache__/
*.py[cod]
*.egg-info/

backend/workspace/purlo_python
# Data
backend/data/
backend/workspace/


# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Env
.env
*.env.local